

<div>
  <img src="{{trainerDetails.avatar}}" alt="avatar">
  <h3>{{trainerDetails.username}}</h3>
</div>
<div>
  <p>From: {{trainerDetails.village}}</p>
  <p>User since {{trainerDetails.createdAt}}</p>
  <p>Badges: {{trainerDetails.badges}}</p>
  <a href="/profile/update-profile/{{trainerDetails._id}}">Update your profile!</a>
</div>



{{!-- Pokemon --}}
<div>
  <img src="{{dbPokemon.photo}}" alt="img-poke" />
  <p>{{dbPokemon.name}}</p>

  <p>Types:{{dbPokemon.types}}</p>
  <p>Habitat: {{dbPokemon.habitat}}</p>
  <p>Description: {{dbPokemon.description}}</p>
  {{#each dbPokemon.baseStats}}
    <p>{{stat.name}}: {{base_stat}}</p>
  {{/each}}

<form action="/profile/delete/{{dbPokemon._id}}" method="post">
<button>Delete your Pokemon</button>
</form>
</div>