<div id="trainer-details">

  <div id="avatar">
    <img src="{{trainerDetails.avatar}}" alt="avatar" />
  </div>
  <div id="container">
    <div id="username">
      <h3>{{trainerDetails.username}}</h3>
      <a href="/profile/update-profile/{{trainerDetails._id}}">Update your
        profile!</a>
    </div>

    <div id="trainer-specs">
      <p>From: {{trainerDetails.village}}</p>
      <p>User since {{trainerDetails.createdAt}}</p>
      <p>Badges: {{trainerDetails.badges}}</p>

    </div>
  </div>
</div>
{{! Pokemon }}

<div id="pokemonTeam">
  {{#each dbPokemon}}
    <div class="eachPokemon">
      <img src="{{photo}}" alt="img-poke" />
      <div class="pokeDescription">
        <p>{{name}}</p>
        <p>Types:{{types}}</p>
        <p>Habitat: {{habitat}}</p>
        <p>Description: {{description}}</p>
      </div>
        <div class="pokeStats">
      {{#each baseStats}}
          <h4>{{stat.name}}:</h4>
          <p>{{base_stat}}</p>
      {{/each}}
        </div>
      <a href="/profile/update-pokemon/{{_id}}"><button> Update</button></a>

      <form action="/profile/delete/{{_id}}" method="post">
        <button>Delete</button>
      </form>
    </div>
  {{/each}}
</div>