<div>
    <div>
        <h3>Your current Pokemon:</h3>
        <h5>{{pokeUpdate.name}}</h5>
        <img src="{{pokeUpdate.photo}}" alt="your-poke-photo">
    </div>
    <form action="/profile/update-pokemon/{{pokeUpdate._id}}" method="POST">
        <label for="pokemon">Change your base Pokemon:</label>
        <select name="pokemon" >
            {{#each pokemonDetails.data.results}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
        <br>
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{pokeUpdate.name}}" autocomplete="off">
        <br>
        <label for="types">Types:</label>
        <select name="types" required>
            {{#each pokemonTypes.data.results}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
        <select name="types">
            <option value="">Opcional</option>
            {{#each pokemonTypes.data.results}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
        <br>
        <label for="habitat">Habitat:</label>
        <select name="habitat" required>
            {{#each pokemonHabitat.data.results}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
        <br>
        <label for="description">Description:</label>
        <textarea name="description">{{pokeUpdate.description}}</textarea>
        <br>
        <button>Update!</button>
    </form>
</div>