<div class="community-pokedex">
    {{#each communityDex}}
    <div class="each-comm-pokedex">
    <a href="/app/community-pokedex/{{_id}}">
    <img src="{{photo}}" alt="poke-photo">
    <p>{{name}}</p>
    </a>
    <p>{{types}}</p>
    <a href="/app/community/{{trainer._id}}">
    <p>@{{trainer.username}}</p>
    </a>
    </div>
    {{/each}}
</div>