<div id="comm-pkm-details">
  <div id="comm-pkm-details-title">
    <img src="{{commPokeDetails.photo}}" alt="poke-photo" />
    <h3>{{commPokeDetails.name}}</h3>
  </div>
  <div id="table-general">
    <div >
      <h4>Types:</h4>
      <p>{{commPokeDetails.types}}</p>
      <h4>Habitat:</h4>
      <p>{{commPokeDetails.habitat}}</p>
      <h4>Description:</h4>
      <p>{{commPokeDetails.description}}</p>
    </div>
    <div >
      <h4>Base stats:</h4>
      {{#each commPokeDetails.baseStats}}
        <p>{{stat.name}}:
          {{base_stat}}
        </p>
      {{/each}}
    </div>
  </div>

</div>