<div>
      <img src="{{pokemonDetails.data.sprites.front_default}}" alt="">
</div>
<div>
    <h2>{{pokemonDetails.data.name}}</h2>
    <p>{{pokemonDetails.data.id}}</p>
</div>
<div>
    {{#each pokemonDetails.data.types}}
    <p>{{type.name}}</p>
    {{/each}}
    <p>{{pokemonDetails.data.weight}}</p>
    <p>{{pokemonDetails.data.height}}</p>
    <p>{{pokemonSpecies.data.color.name}}</p>
    <p>{{pokemonSpecies.data.shape.name}}</p>
    <p>{{pokemonSpecies.data.habitat.name}}</p>
    {{#with pokemonSpecies.data.flavor_text_entries.[2]}}
    <p>{{flavor_text}}</p>
    {{/with}}
</div>
<div>
    {{#each pokemonDetails.data.stats}}
    <p>{{stat.name}}</p>
    <p>{{base_stat}}</p>
    {{/each}}
</div>
<div>
    <div>
      <img src="{{pokemonMinus.data.sprites.front_default}}" alt="">
      <p>{{pokemonMinus.data.id}}</p>
      <p>{{pokemonMinus.data.name}}</p>
      

    </div>
      <img src="{{pokemonContinue.data.sprites.front_default}}" alt="">
      <p>{{pokemonContinue.data.id}}</p>
      <p>{{pokemonContinue.data.name}}</p>
</div>