<div id="trainer-details">

  <div id="avatar">
    <img src="{{trainerDetails.avatar}}" alt="avatar" />
  </div>
  <div id="container">
    <div id="username">
      <h3>{{trainerDetails.username}}</h3>
    </div>

    <div id="trainer-specs">
      <p>From: {{trainerDetails.village}}</p>
      <p>User since {{trainerDetails.createdAt}}</p>
    </div>
  </div>
</div>
    
<div id="pokemonTeam">
  {{#each pokeTeam}}
    <div class="eachPokemon">
      <div class="pokemon-profile">
        <img src="{{photo}}" alt="img-poke" />
      </div>
      <div class="pokemon-general">
        <p class="maintitle-poke-description">{{name}}</p>
        <div class="pokemon-description">
          <p class="title-poke-description">Types:</p>
          <p>{{types}}</p>
          <p class="title-poke-description">Habitat: </p>
          <p>{{habitat}}</p>
          <p class="title-poke-description">Description:</p>
          <p>{{description}}</p>
        </div>
      </div>
      <div class="pokeStats-community">
        {{#each baseStats}}
          <div class="eachStat">
            <p>{{stat.name}}: <span class="stat-number">{{base_stat}}</span></p>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>